:root {
  color-scheme: dark;
}

.reader-text {
  /* Horizontal scrolling */
  width: 100%;
  overflow: auto hidden;
  
  /* Spacing between text and scrollbar */
  padding-bottom: 1em;
  
  /* Put scrollbar on top */
  /* Text becomes upside down */
  transform: rotate(180deg);
}

.reader-text > div {
  /* Height of the reading area */
  height: 512px;
  
  /* Vertical text */
  writing-mode: vertical-rl;
  
  /* Text is upside down, so flip it back */
  transform: rotate(180deg);
}

.reader-paragraph-spacing {
  /* Spacing between paragraphs */
  width: .8em;
}

.reader-text * {
  /* Spacing between individual lines within a paragraph */
  line-height: 1.28em;
}

.reader-paragraph {
  margin-top: 0;
}

/* Remove this rule to re-enable the sentence insets */
.reader-span-fragment:first-child {
  display: none;
}