.reader-content { padding: 10px 0; }
.reader-author-classics { margin-top: 20px; }
.reader-furigana-span { transform: translateY(-16%); }
.reader-furigana-span-stretch { line-height: .7em; }
.reader-paragraph { margin-top: 0; }

.reader-text {
    height: 64vh;
    display: flex;
    writing-mode: sideways-rl;
    overflow: auto hidden;
    padding: 4px;

    /* Put slashes and asterisks around stuff to  */
    /* disable it. Alternatively, just delete it. */
    /* border: solid 1px darkred; */
    box-shadow: inset 2px 0 14px #111;
    border: solid 1px #101010;
}

.reader-sentence {
    writing-mode: vertical-rl;
    line-height: 1.6em;
    padding: 0 10px;
}